@page
@model IndexModel
@{
}
<div class="text-center">
    <h1 class="display-4">لیست محصولات</h1>
    <p><a asp-page="./Create" class="btn btn-success"> ایجاد جدید</a></p>



    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>#</td>
            <td>نام</td>
            <td>قیمت</td>
            <td>گروه</td>
            <td>تاریخ ایجاد</td>
            <td>عملیات</td>
        </tr>
        </thead>
        
        <tbody>
      
        @foreach (var i in Model.Products)
        {
            <tr>
                <td>@i.Id</td>
                <td>@i.Name</td>
                <td>@i.UnitPrice</td>
                <td>@i.Category</td>
                <td>@i.CreationDate</td>
                <td>
                    <a asp-page="./Edit" class="btn btn-warning" asp-route-id="@i.Id">ویرایش</a>
                    @if (!i.IsRemoved)
                    {
                        <a asp-page="./Index" class="btn btn-danger" asp-page-handler="./Remove" asp-route-id="@i.Id">غیرفعال سازی</a>
                    }
                    else
                    {
                        <a asp-page="./Index" class="btn btn-success" asp-page-handler="./Restore" asp-route-id="@i.Id">فعال سازی</a>
                    }
                </td>
            </tr>
        }
        </tbody>

    </table>

</div>
